#body {
	background: #2224f4;
}

body,
html {
	margin: 0;
}

a {
	color: transparent;
}


#click {
	text-align: center;
	font-size: 4.5vw;
	font-weight: 700;
	font-family: SUIT;
	color: transparent;
	background: transparent;
	border: 0.1em solid white;
	margin-left: 805px;
	margin-right: 805px;
	margin-top: 30px;
}

h1 {
	padding-top: 220px;
	font-size: 4.5vw;
	font-family: SUIT;
	font-weight: 700;
	color: white;
	text-align: center;
}

#text {
	color: #2224f4;
	background: white;
	padding: 5px 15px;
	font-family: SUIT;
	font-weight: 700;
	letter-spacing: -0.5px;
	text-align: center;
}


@media screen and (max-width: 900px) {
	#text {
		padding: 3px 0px;
	}

	h1 {
		padding-top: 0.7em;
		margin: 3em 0.7em;
		font-size: 12vw;
	}

	#click {
		font-size: 14vw;
		font-weight: 700;
		font-family: SUIT;
		color: transparent;
		background: transparent;
		border: 0.08em solid white;
		margin-left: 2.3em;
		margin-right: 2.3em;
		margin-top: 1em;
	}
}