#body {
	background: url('bg2.jpg');
	background-size: cover;
}

body, html {
	margin: 0;
}

.text {
	text-align: center;
}

#click {
	text-align: center;
	font-size: 4.5vw;
	font-weight: 600;
	font-family: SUIT;
	color: transparent;
	background: transparent;
	border: 0.1em solid white;
	mix-blend-mode: difference;
}

.click {
	padding: 0px 450px;
	text-align: center;
}

#txt2,#txt3,#txt4 {
	display: none;
}

h1 {
	margin-top: 180px;
	font-size: 4vw;
	font-family: SUIT;
	font-weight: 600;
	color: white;
}

#text1,#text2,#text3,#text4 {
	color: black;
	background: white;
	padding: 5px 10px;
	font-family: SUIT;
	font-weight: 600;
	letter-spacing: -0.5px;
	mix-blend-mode: difference;
}

p {
	margin: 30px;
}